
# Byte-compiled / optimized / DLL files
**/*.py[cod]
**/*.pyo
**/__pycache__/
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/

# Virtual environments
**/.venv/
**/.env

# PDF files to ignore in any subfolder
**/*.pdf
**/*.docx
**/*.xlsx
**/*assignment*
**/*.pkl


# Common temporary and OS files
**/*.log
**/*.tmp
**/*~
**/.DS_Store
**/Thumbs.db


**/ollama_data/
**/chroma_db/

**/node_modules/
**/dist/
**/vite/

**/.idea/
**/.vscode/
**/*.swp
